confirmrequest/frmregistration/Web References/Server2/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Productcategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Productcompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Productname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Productprice" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfMakeupArtist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MakeupArtist" nillable="true" type="tns:MakeupArtist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMakeupArtist" nillable="true" type="tns:ArrayOfMakeupArtist" />
  <xs:complexType name="MakeupArtist">
    <xs:sequence>
      <xs:element minOccurs="0" name="Makeaddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Makecity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Makename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Makepassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Makephone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MakeupArtist" nillable="true" type="tns:MakeupArtist" />
</xs:schema>